body{
  color: white;
    background-color: #08162B;
    font-family: 'Poppins', sans-serif;
}
.header h6{
  color: white;
}
.toggler{
  width: 25px;
}
.navbar-toggler-icon{
  color: white;
  font-size: 25px;
}
.logo{
  width: 125px;
}
.signin-btn{
  border: none;
  border-radius: 33px;
  padding: 10px 30px;
  background-color: #fa3848 ;
  color: white;
}
.content{
  margin-top: 10px;
}

.description h1{
  letter-spacing: 2px;
}
.description h6{
  letter-spacing: 10px;
}
.description p{
  line-height: 30px;
}


.main-conatiner h6{
  color: #fa3848;
}
.cart{
  height: 50%;
  width: 100%;
}
.carousel-inner img{
  width: 100px;
}
.watch{
  width: 820px;
}


@media screen and (max-width: 767px) {
  .nav-link{
    background-color: #fa3848;
    border-radius: 33px;
    margin-bottom: 10px;
  }
  .padd{
    padding-top: 10px;
  }
  .hide {
    display: none;
  }
  .head-content{
    text-align: center;
  }
  .navbar-toggler{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .description{
    padding-left: 50px;
  }
}